<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$cookieManager = $objectManager->create('Magento\Framework\Stdlib\CookieManagerInterface');
	$cookieArray = [];
	$region = '';
	$city = '';
        $country_long_name = '';
	$cookieValue = $cookieManager->getCookie(\Emc\Singleseller\Controller\Index\Index::COOKIE_NAME);
	$cookieArray = json_decode($cookieValue, true);
       // echo '<pre>---'.__FILE__.'---'.__LINE__;print_r($cookieArray);echo '</pre>';
 	if(isset($cookieArray) && is_array($cookieArray) && count($cookieArray) > 0) {
            $city   = $cookieArray['city'];
            $region = $cookieArray['region'];
           // $country_long_name  = $cookieArray['country_long_name'];
	}
?>
<div id="address_selector_map"><span id="location_changer"><strong><?= $city,', ',$region,', ',$country_long_name; ?></strong></span></div>
<script>
require(
	[
		'jquery',
		'Magento_Ui/js/modal/modal',
        'mage/cookies'
	],
	function(
		$,
		modal
	) {
		$(document).on('click', '#address_selector_map', function() {
			$('#maps-popup-modal').modal('openModal').trigger('contentUpdated');
		});
	});
</script>