<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cookieManager = $objectManager->create('Magento\Framework\Stdlib\CookieManagerInterface');
$cookieArray = [];
$region = '';
$city = '';
$country_long_name = '';
$cookieValue = $cookieManager->getCookie(\Emc\Singleseller\Controller\Index\Index::COOKIE_NAME);
$cookieArray = json_decode($cookieValue, true);
// echo '<pre>---'.__FILE__.'---'.__LINE__;print_r($cookieArray);echo '</pre>';
$loc = '';
if (isset($cookieArray) && is_array($cookieArray) && count($cookieArray) > 0) {
    $city = $cookieArray['city'];
    $region = $cookieArray['region'];
  //  $country_long_name  = $cookieArray['country_long_name'];
    $loc = $city.', '.$region.', '.$country_long_name;
}
?>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo $block->getApiKey(); ?>&libraries=places&v=weekly"></script>
<input
    id="pac-lat"
    type="hidden"
    />
<input
    id="pac-lng"
    type="hidden"
    />
<div id="maps-popup-modal" style="display:none;">
    <input
        id="pac-input"
        class="controls"
        type="text"
                                   role="combobox"

        value="<?= $loc; ?>"
        placeholder="Search Box"
        />
    <div id="map" display:none;></div>
</div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$baseUrl = $store->getBaseUrl();
?>
<style>
    div.pac-container {
        z-index: 100000 !important;
    }
</style>
<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'mage/cookies'
            ],
            function (
                    $,
                    modal
                    ) {
                var baseUrl = "<?php echo $baseUrl; ?>";
                var options = {
                    type: 'popup',
                    responsive: true,
                    clickableOverlay: false,
                    innerScroll: true,
                    persist: true,
                    title: 'Location Finder',
                    keyEventHandlers: {
                        escapeKey: function () {
                            return;
                        }
                    },
                    opened: function ($Event) {
                        <?php if($loc == ''){ ?>
                        $('.modal-header button.action-close', $Event.srcElement).hide();
                        <?php } ?>
                        triggermap();
                    },
                    buttons: [{
                            text: $.mage.__('Save'),
                            class: 'save-button',
                            click: function () {
                                saveData();
                            }
                        },
                        {
                            text: $.mage.__('Locate Me'),
                            class: 'locate-me',
                            click: function () {
                                getLocation();
                            }
                        }]
                };
                var cookie = $.cookie('check_address_locator');
                var popup = modal(options, $('#maps-popup-modal'));
                $(document).ready(function () {
                    if (cookie != 'mapper') {
                        $('#maps-popup-modal').modal('openModal').trigger('contentUpdated');
                    }
                });

                function getLocation()
                {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(position => {
                            const geolocation = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };
                            geoCodeMap(position.coords.latitude, position.coords.longitude);
                            fetchData();
                        });
                    } else {
                        alert('Sorry, browser does not support geolocation');
                        console.log("Sorry, browser does not support geolocation!");
                    }
                }

                function triggermap(geolocation = '')
                {
                    var places = new google.maps.places.Autocomplete(document.getElementById('pac-input'));
                    google.maps.event.addListener(places, 'place_changed', function () {
                        var place = places.getPlace();
                        if (place.length == 0) {
                            return;
                        }

                        geoCodeMap(place.geometry.location.lat(), place.geometry.location.lng());
                    });


                }

                function geoCodeMap(lat, lng) {
                    $('#pac-lat').val(lat);
                    $('#pac-lng').val(lng);
                }

                function getGeocodeDetails(results, param, type)
                {
                    var result = '';
                    for (var i = 0; i < results.length; i++) {
                        for (var j = 0; j < results[i].address_components.length; j++) {
                            for (var k = 0; k < results[i].address_components[j].types.length; k++) {
                                if (results[i].address_components[j].types[k] == param) {
                                    if (type == 1) {
                                        result = results[i].address_components[j].short_name;
                                    } else {
                                        result = results[i].address_components[j].long_name;
                                    }
                                }
                            }
                        }
                    }
                    return result;
                }
                function fetchData()
                {
                    var latitude = $('#pac-lat').val();
                    var longitude = $('#pac-lng').val();
                    if (latitude != '' && longitude != '') {
                        $('.modal-footer button.locate-me').html('<span>Locating...</span>').attr('disabled');
                        var geolocation = new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude));
                        var postcode, country, city, locality, sublocality, route, marker;
                        const geocoder = new google.maps.Geocoder();
                        geocoder.geocode({location: geolocation}, (results, status) => {
                            console.log(results);
                            if (status === "OK") {
                                postcode = getGeocodeDetails(results, "postal_code", 1);
                                country = getGeocodeDetails(results, "country", 1);
                                city = getGeocodeDetails(results, "administrative_area_level_1", 2);
                                locality = getGeocodeDetails(results, "locality", 1);
                                country_long_name = getGeocodeDetails(results, "country", 2);
                                sublocality = getGeocodeDetails(results, "sublocality", 1);
                                route = results[0].address_components[0].short_name;
                                var sublocalityString = '';
                                if (sublocality != '') {
                                    sublocalityString = sublocality;
                                    $('#pac-input').val(sublocalityString);
                                } else {
                                    $('#pac-input').val(locality + ', ' + city + ', ' + country_long_name);

                                }

                                if (results[0]) {
                                    $('.modal-footer button.locate-me').html('<span>Locate Me</span>').attr('disabled', false);

                                } else {
                                    console.log("No results found");
                                    alert('Issue in fetching your location');
                                    $('.modal-footer button.locate-me').html('<span>Locate Me</span>').attr('disabled', false);
                                }
                            } else {
                                alert('Issue in fetching your location');
                                $('.modal-footer button.locate-me').html('<span>Locate Me</span>').attr('disabled', false);
                                console.log("Geocoder failed due to: " + status);
                            }
                        });
                    } else {
                        alert("Please search the location and try again");
                    }
                }

                function saveData()
                {
                    var latitude = $('#pac-lat').val();
                    var longitude = $('#pac-lng').val();
                    if (latitude != '' && longitude != '') {
                        $('.modal-footer button.save-button').html('<span>Saving</span>').attr('disabled');
                        var geolocation = new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude));
                        var postcode, country, city, locality, sublocality, route, marker;
                        const geocoder = new google.maps.Geocoder();
                        geocoder.geocode({location: geolocation}, (results, status) => {
                            if (status === "OK") {
                                postcode = getGeocodeDetails(results, "postal_code", 1);
                                country = getGeocodeDetails(results, "country", 1);
                                country_long_name = getGeocodeDetails(results, "country", 2);

                                city = getGeocodeDetails(results, "administrative_area_level_1", 2);
                                locality = getGeocodeDetails(results, "locality", 1);
                                sublocality = getGeocodeDetails(results, "sublocality", 1);
                                route = results[0].address_components[0].short_name;
                                var sublocalityString = '';
                                if (sublocality != '') {
                                    sublocalityString = sublocality;
                                }
                                $('#latitude').val(geolocation.lat).trigger('change');
                                $('#longitude').val(geolocation.lng).trigger('change');
                                $('#country').val(country).trigger('change');
                                
                                $('#zip').val(postcode).trigger('change');
                                $('#city').val(locality).trigger('change');
                                $('#region').val(city).trigger('change');
                                //$('#region_id').find('option[text="'+city+'"]').val();
                                $("#region_id option:contains('" + city + "')").attr('selected', true);
                                $('#street_1').val(route + ', ' + sublocalityString).trigger('change');
                                var data = {
                                    street: route + ', ' + sublocalityString,
                                    city: locality,
                                    region: city,
                                    postal: postcode,
                                    country: country,
                                     country_long_name: country_long_name,
                                    latitude: latitude,
                                    longitude: longitude
                                };
                                $.get(baseUrl + 'singleseller', data, function (result) {
                                    $('#address_selector_map #location_changer').html(city);
                                    $.cookie('check_address_locator', 'mapper', {expires: 365, path: '/'});
                                    window.location.reload();
                                });

                                if (results[0]) {
                                    //console.log(results[0]);
                                    //console.log(results[0].formatted_address);
                                } else {
                                    console.log("No results found");
                                }
                            } else {
                                console.log("Geocoder failed due to: " + status);
                            }
                        });
                    } else {
                        alert("Please search the location and try again");
                    }
                }
            }
    );
</script>