<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cookieManager = $objectManager->create('Magento\Framework\Stdlib\CookieManagerInterface');
$cookieArray = [];
$region = '';
$city = '';
$cookieValue = $cookieManager->getCookie(\Emc\Singleseller\Controller\Index\Index::COOKIE_NAME);
$cookieArray = json_decode($cookieValue, true);
 
 
  		echo '<pre>---'.__FILE__.'---'.__LINE__.'---';print_r($cookieArray);echo '</pre>';



$show_seller_name = $block->getConfig('lofmarketplace/seller_list_page/show_seller_name');

if (isset($cookieArray) && is_array($cookieArray) && count($cookieArray) > 0) {
    $lat = $cookieArray['latitude'];
    $long = $cookieArray['longitude'];
    $sellerBlocks = $this->getSellers($lat, $long);

    if ($sellerBlocks) { // if sellers available 
        foreach ($sellerBlocks as $_seller_group) {
            ?>
            <div class="row" style="margin:20px 0">
                <div class="col-12">
                    <div class="seller-name"><?php echo $_seller_group['group_name']; ?></div>
                </div> 
            </div>
            <?php foreach ($_seller_group['sellerList'] as $_seller) {
                ?>
                <div class = "row">
                    <div class = "col-3">
                        <div class = "seller-image"><a href = "<?php echo $_seller->getUrl(); ?>" title = "<?php echo $_seller->getName(); ?>"><img src = "<?php echo $_seller->getThumbnailUrl(); ?>"/></a></div>
                        <?php if ($show_seller_name) {
                            ?>
                            <div class="seller-name"><a href="<?php echo $_seller->getUrl(); ?>" title="<?php echo $_seller->getName(); ?>"><?php echo $_seller->getName(); ?></a></div>
                            <?php } ?>
                    </div> 
                </div>
                <?php
            }
        }
    } // end if sellers available
}